body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1000px;
}

header {
    border: solid 10px lightgrey;
    margin: 25px 0px 30px 0px;
    border-radius: 10px;
}

main {
    border: solid 10px lightgrey;
    margin: 30px 0px 30px 0px;
    border-radius: 10px;
}

footer {
    border: solid 10px wheat;
    border-radius: 10px;
    padding-bottom: 50px;
}

.black_border {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

#opsomming {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.opsomming {
    background-color: lightslategray ;
    padding: 1px;
    margin: 10px;
    border: solid 0px;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
    padding-left: 10px;
    color: linen;
    background-color: lightslategray;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

p {
    margin: 10px;
}

#h1footer {
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 25px;
}

.footernavlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


.h1overmijzelf {
    border: solid black 2px;
    background-color: lightslategray;
    color: linen;
    padding: 2px;
    border-radius: 5px;
}

img {
    border: solid black;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 300;
}

.footerul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerli {
    display: inline;
    margin: 5px;
    padding: 10px;
    border: solid 2px lightsteelblue;
    background-color: lightsteelblue;
}

.footerli :hover {
    background-color: lightskyblue;
}

a:link {
    color: black;
}

a:visited {
    color: black
}

input   {
    width: 100px;
    outline: none;
}

textarea {
    border-style: solid;
    border-color: red;
}

textarea:focus {
    border-style: solid;
    border-color: green;
}

@media (min-width: 1024px){
    body {
        background-color: linen;
        color: darkgray;
        font-size: 20px;
        line-height: 30px;
    }

}
    



